$accent-color: #cc0000;
$primary-color : #3f51b5;
//gray palette
$dark:#030303;
$dark-gray: #606060 ;
$medium-gray:#6B695E ;
$light-gray: #909090;
$lightest-gray: #f4f4f4;

//blue palette
$dark-blue:#003366;
$medium-blue:#004080;
$light-blue:#0059b3;
$lightest-blue:#0073e6;